# Python
__pycache__/
*.pyc

# Virtual env
.venv/

# Data
data/train/
data/test/
data/valid/
data/labels_backup_*/

# Runs & outputs
runs/
temp_uploads/

# Models
*.pt

# Videos & media
*.mp4
*.avi
*.mov

# OS
.DS_Store
Thumbs.db